.c_prev{
	left: 89% !important;
	bottom: 5% !important;
}
.c_next{
	right: 2% !important;
	bottom: 5% !important;
}
.c_prev, .c_next{
	top:85%;
	width:5%;
}
/*customslider2*/
.cus_ind [data-bs-target] {
  width: 12px !important;
  height: 12px !important;
  /*border-radius: 50%;*/

  transition: 0.4s;
}
.cus_ind [data-bs-target]:hover {
  background-color: #000000;
}
.cus_ind {
  right: 65% !important;
  bottom: 40% !important;
  display: block !important;
  margin-right: 29% !important;
  margin-left: 5% !important;
}

.slider button {
    margin-bottom: 0px;
}